*{ box-sizing: border-box;}

:root {
    --teel:#4aaaa5;
    --main-font:#777777;
    --head-bgd:#ffffff;
    --head-border:#cccccc;
    --footer-bgd:#666666;
    --main-bgd:#ffffff;
    --main-border:#dddddd;
}

body {
    background-image: url("blue-snow.png");
    background-color:#13101091;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
        }

header {
  height: 45px;
    width: 960px;
    background-color: var(--head-bgd);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}
h1 {
float: left;
padding: 25px;
}
.container3 {
  float: left;
  background-color: var(--head-bgd);
  /* flex-wrap: wrap; */
  float: right;
}
.contact-info {
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    float: right;
}
.heading { 
width: 960px;
float: 0 auto;
  }

.container1 {
    
  height: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 0;
  border-color: var(--main-border);
  background-color: var(--main-bgd);
  }
}
.container2 {
  float: left;
}








  /* .contact-info h1 { */ */
    margin: 0;
    background-color: var(--head-border);
   /* padding: 20px 15px; */
  }
  
  /* .three-links h1 a { */
    background-color: var(--head-bgd);
    text-decoration: none;
  }
  
  .contact-info nav {
    margin-left: auto;
    display: flex;
    flex-wrap: auto;
    justify-content: left;
  }
  
  /* .contact-info nav a { */
    color: var(--light);
    padding: 0 15px;
    font-size: 20px;
    text-decoration: none;
    border-right: 2px solid var(--head-border);
  }
  
  .contact-info nav a:last-child { border-right: none;
  }
  

  
    /* .three-links { */
      width: 100%;
      text-align: left;
    }
  
    /* .three-links h1, */
    /* .three-links nav { */
      width: 100%;
    }
  
  }